/* .Payment-Line{
    display: flex;
    justify-content: space-evenly;
}

.Lower-Body-Icon-Message{
    display: flex;
    justify-content: space-evenly;
}

.Icon-Row{
    justify-content: space-evenly;
    display: inline-flex
} */